page-quotes {
    .author {
        color: #ccc;
        text-align: right;
        text-transform: uppercase;
        margin: 0;
        padding: 0;

        //sass way
        &:before{
            content:'- '; 
        }
    }

    //css way
    // .author:before{
    //     content:'- ';
    // }
}
